In [128]:
import pandas as pd

In [130]:
df = pd.read_csv("/Users/juanasipriano/Downloads/Taholah_edad.csv")
print(df.head())
df.info()

            geoid                     name  B01001001  B01001001, Error  \
0         01000US            United States  332387550               NaN
1       04000US53               Washington    7740984               NaN
2    05000US53027  Grays Harbor County, WA      76397               NaN
3  16000US5370175              Taholah, WA        778             200.0
4    31000US10140  Aberdeen, WA Micro Area      76397               NaN

   B01001002  B01001002, Error  B01001003  B01001003, Error  B01001004  \
0  164545090              6966    9688436              4185   10296243
1    3898212               675     224027               344     241253
2      39200               118       1810                60       2076
3        362               133         20                21         21
4      39200               118       1810                60       2076

   B01001004, Error  ...  B01001045  B01001045, Error  B01001046  \
0             22450  ...    5576237             15826    7978348
1              2868  ...     127395              2234     183454
2               228  ...       1786               267       2637
3                14  ...         43                34         14
4               228  ...       1786               267       2637

   B01001046, Error  B01001047  B01001047, Error  B01001048  B01001048, Error  \
0             17513    5461052             16334    3631914             12460
1              2319     116351              1896      73706              1713
2               287       1552               239       1030               190
3                11          9                11          3                 5
4               287       1552               239       1030               190

   B01001049  B01001049, Error
0    4050652             15097
1      85335              1972
2        816               162
3          7                 7
4        816               162

[5 rows x 100 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 100 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geoid             5 non-null      object
 1   name              5 non-null      object
 2   B01001001         5 non-null      int64
 3   B01001001, Error  1 non-null      float64
 4   B01001002         5 non-null      int64
 5   B01001002, Error  5 non-null      int64
 6   B01001003         5 non-null      int64
 7   B01001003, Error  5 non-null      int64
 8   B01001004         5 non-null      int64
 9   B01001004, Error  5 non-null      int64
 10  B01001005         5 non-null      int64
 11  B01001005, Error  5 non-null      int64
 12  B01001006         5 non-null      int64
 13  B01001006, Error  5 non-null      int64
 14  B01001007         5 non-null      int64
 15  B01001007, Error  5 non-null      int64
 16  B01001008         5 non-null      int64
 17  B01001008, Error  5 non-null      int64
 18  B01001009         5 non-null      int64
 19  B01001009, Error  5 non-null      int64
 20  B01001010         5 non-null      int64
 21  B01001010, Error  5 non-null      int64
 22  B01001011         5 non-null      int64
 23  B01001011, Error  5 non-null      int64
 24  B01001012         5 non-null      int64
 25  B01001012, Error  5 non-null      int64
 26  B01001013         5 non-null      int64
 27  B01001013, Error  5 non-null      int64
 28  B01001014         5 non-null      int64
 29  B01001014, Error  5 non-null      int64
 30  B01001015         5 non-null      int64
 31  B01001015, Error  5 non-null      int64
 32  B01001016         5 non-null      int64
 33  B01001016, Error  5 non-null      int64
 34  B01001017         5 non-null      int64
 35  B01001017, Error  5 non-null      int64
 36  B01001018         5 non-null      int64
 37  B01001018, Error  5 non-null      int64
 38  B01001019         5 non-null      int64
 39  B01001019, Error  5 non-null      int64
 40  B01001020         5 non-null      int64
 41  B01001020, Error  5 non-null      int64
 42  B01001021         5 non-null      int64
 43  B01001021, Error  5 non-null      int64
 44  B01001022         5 non-null      int64
 45  B01001022, Error  5 non-null      int64
 46  B01001023         5 non-null      int64
 47  B01001023, Error  5 non-null      int64
 48  B01001024         5 non-null      int64
 49  B01001024, Error  5 non-null      int64
 50  B01001025         5 non-null      int64
 51  B01001025, Error  5 non-null      int64
 52  B01001026         5 non-null      int64
 53  B01001026, Error  5 non-null      int64
 54  B01001027         5 non-null      int64
 55  B01001027, Error  5 non-null      int64
 56  B01001028         5 non-null      int64
 57  B01001028, Error  5 non-null      int64
 58  B01001029         5 non-null      int64
 59  B01001029, Error  5 non-null      int64
 60  B01001030         5 non-null      int64
 61  B01001030, Error  5 non-null      int64
 62  B01001031         5 non-null      int64
 63  B01001031, Error  5 non-null      int64
 64  B01001032         5 non-null      int64
 65  B01001032, Error  5 non-null      int64
 66  B01001033         5 non-null      int64
 67  B01001033, Error  5 non-null      int64
 68  B01001034         5 non-null      int64
 69  B01001034, Error  5 non-null      int64
 70  B01001035         5 non-null      int64
 71  B01001035, Error  5 non-null      int64
 72  B01001036         5 non-null      int64
 73  B01001036, Error  5 non-null      int64
 74  B01001037         5 non-null      int64
 75  B01001037, Error  5 non-null      int64
 76  B01001038         5 non-null      int64
 77  B01001038, Error  5 non-null      int64
 78  B01001039         5 non-null      int64
 79  B01001039, Error  5 non-null      int64
 80  B01001040         5 non-null      int64
 81  B01001040, Error  5 non-null      int64
 82  B01001041         5 non-null      int64
 83  B01001041, Error  5 non-null      int64
 84  B01001042         5 non-null      int64
 85  B01001042, Error  5 non-null      int64
 86  B01001043         5 non-null      int64
 87  B01001043, Error  5 non-null      int64
 88  B01001044         5 non-null      int64
 89  B01001044, Error  5 non-null      int64
 90  B01001045         5 non-null      int64
 91  B01001045, Error  5 non-null      int64
 92  B01001046         5 non-null      int64
 93  B01001046, Error  5 non-null      int64
 94  B01001047         5 non-null      int64
 95  B01001047, Error  5 non-null      int64
 96  B01001048         5 non-null      int64
 97  B01001048, Error  5 non-null      int64
 98  B01001049         5 non-null      int64
 99  B01001049, Error  5 non-null      int64
dtypes: float64(1), int64(97), object(2)
memory usage: 4.0+ KB

In [132]:
taholah = df[df["geoid"] == "16000US5370175"].iloc[0]
print(taholah.head())

geoid               16000US5370175
name                   Taholah, WA
B01001001                      778
B01001001, Error             200.0
B01001002                      362
Name: 3, dtype: object

In [134]:
total = taholah["B01001001"]
hombres = taholah["B01001002"]
mujeres = taholah["B01001026"]

In [136]:
tabla_genero = pd.DataFrame({
    "Sexo": ["Hombres", "Mujeres"],
    "Poblaci贸n": [hombres, mujeres],
    "Porcentaje": [hombres/total*100, mujeres/total*100]
})

tabla_genero

      Sexo  Poblaci贸n  Porcentaje
0  Hombres        362   46.529563
1  Mujeres        416   53.470437

In [138]:
print(tabla_genero)

      Sexo  Poblaci贸n  Porcentaje
0  Hombres        362   46.529563
1  Mujeres        416   53.470437

In [176]:
taholah = df[df['name'] == 'Taholah, WA']
age_groups = {
    "0-4": ["B01001003", "B01001027"], 
    "5-9": ["B01001004", "B01001028"], 
    "10-14": ["B01001005", "B01001029"], 
    "15-17": ["B01001006", "B01001030"], 
    "18-19": ["B01001007", "B01001031"], 
    "20": ["B01001008", "B01001032"], 
    "21": ["B01001009", "B01001033"], 
    "22-24": ["B01001010", "B01001034"], 
    "25-29": ["B01001011", "B01001035"], 
    "30-34": ["B01001012", "B01001036"],
    "35-39": ["B01001013", "B01001037"], 
    "40-44": ["B01001014", "B01001038"],
    "45-49": ["B01001015", "B01001039"],
    "50-54": ["B01001016", "B01001040"], 
    "55-59": ["B01001017", "B01001041"], 
    "60-61": ["B01001018", "B01001042"], 
    "62-64": ["B01001019", "B01001043"], 
    "65-66": ["B01001020", "B01001044"],
    "67-69": ["B01001021", "B01001045"],
    "70-74": ["B01001022", "B01001046"], 
    "75-79": ["B01001023", "B01001047"], 
    "80-84": ["B01001024", "B01001048"], 
    "85+": ["B01001025", "B01001049"] 
}

In [178]:
age_table = []

for group, cols in age_groups.items():
    hombre = taholah[cols[0]].values[0]
    mujer = taholah[cols[1]].values[0]
    total = hombre + mujer

    age_table.append([group, hombre, mujer, total])

In [182]:
age_df = pd.DataFrame(age_table, columns=["Age Range", "Hombre", "Mujer", "Total"])
print(age_df)
age_df.to_csv("age_df_filtrado.csv", index=False)

   Age Range  Hombre  Mujer  Total
0        0-4      20     16     36
1        5-9      21     25     46
2      10-14      20     22     42
3      15-17      29     23     52
4      18-19       2     23     25
5         20       6     10     16
6         21       3     10     13
7      22-24      19     20     39
8      25-29      26     31     57
9      30-34      39      7     46
10     35-39      24     14     38
11     40-44      13     15     28
12     45-49      12      7     19
13     50-54      25     30     55
14     55-59      26     19     45
15     60-61       3      3      6
16     62-64      14     22     36
17     65-66       0     43     43
18     67-69       4     43     47
19     70-74      42     14     56
20     75-79      10      9     19
21     80-84       4      3      7
22       85+       0      7      7