In [3]:
import pandas as pd

In [9]:
df = pd.read_csv("/Users/juanasipriano/Downloads/taholah_educación.csv")

taholah_educación= df[df["name"] == "Taholah, WA"].copy()

taholah_educación

,geoid,name,B15002001,"B15002001, Error",B15002002,"B15002002, Error",B15002003,"B15002003, Error",B15002004,"B15002004, Error",...,B15002031,"B15002031, Error",B15002032,"B15002032, Error",B15002033,"B15002033, Error",B15002034,"B15002034, Error",B15002035,"B15002035, Error"
3,16000US5370175,"Taholah, WA",509,142,242,102,0,13,0,13,...,13,12,14,15,8,8,3,4,0,13

In [11]:


# Total población 25+
taholah_educación["total_educacion"] = taholah_educación["B15002001"]

# 1. Sin título
taholah_educación["sin_titulo_hombres"] = taholah_educación[[
    "B15002003","B15002004","B15002005","B15002006",
    "B15002007","B15002008","B15002009","B15002010"
]].sum(axis=1)

taholah_educación["sin_titulo_mujeres"] = taholah_educación[[
    "B15002020","B15002021","B15002022","B15002023",
    "B15002024","B15002025","B15002026","B15002027"
]].sum(axis=1)

taholah_educación["sin_titulo_total"] = (
    taholah_educación["sin_titulo_hombres"] +
    taholah_educación["sin_titulo_mujeres"]
)

# 2. Secundaria
taholah_educación["secundaria_hombres"] = taholah_educación["B15002011"]
taholah_educación["secundaria_mujeres"] = taholah_educación["B15002028"]

taholah_educación["secundaria_total"] = (
    taholah_educación["secundaria_hombres"] +
    taholah_educación["secundaria_mujeres"]
)

# 3. Universidad trunca
taholah_educación["uni_trunca_hombres"] = taholah_educación[[
    "B15002012","B15002013","B15002014"
]].sum(axis=1)

taholah_educación["uni_trunca_mujeres"] = taholah_educación[[
    "B15002029","B15002030","B15002031"
]].sum(axis=1)

taholah_educación["uni_trunca_total"] = (
    taholah_educación["uni_trunca_hombres"] +
    taholah_educación["uni_trunca_mujeres"]
)

# 4. Licenciatura
taholah_educación["licenciatura_hombres"] = taholah_educación["B15002015"]
taholah_educación["licenciatura_mujeres"] = taholah_educación["B15002032"]

taholah_educación["licenciatura_total"] = (
    taholah_educación["licenciatura_hombres"] +
    taholah_educación["licenciatura_mujeres"]
)

# 5. Posgrado
taholah_educación["posgrado_hombres"] = taholah_educación[[
    "B15002016","B15002017","B15002018"
]].sum(axis=1)

taholah_educación["posgrado_mujeres"] = taholah_educación[[
    "B15002033","B15002034","B15002035"
]].sum(axis=1)

taholah_educación["posgrado_total"] = (
    taholah_educación["posgrado_hombres"] +
    taholah_educación["posgrado_mujeres"]
)

In [13]:
taholah_educación["total_hombres_educacion"] = (
    taholah_educación["sin_titulo_hombres"] +
    taholah_educación["secundaria_hombres"] +
    taholah_educación["uni_trunca_hombres"] +
    taholah_educación["licenciatura_hombres"] +
    taholah_educación["posgrado_hombres"]
)

taholah_educación["total_mujeres_educacion"] = (
    taholah_educación["sin_titulo_mujeres"] +
    taholah_educación["secundaria_mujeres"] +
    taholah_educación["uni_trunca_mujeres"] +
    taholah_educación["licenciatura_mujeres"] +
    taholah_educación["posgrado_mujeres"]
)

In [15]:
total = taholah_educación["total_educacion"]

taholah_educación["sin_titulo_pct_total"] = (
    taholah_educación["sin_titulo_total"] / total * 100
)

taholah_educación["secundaria_pct_total"] = (
    taholah_educación["secundaria_total"] / total * 100
)

taholah_educación["uni_trunca_pct_total"] = (
    taholah_educación["uni_trunca_total"] / total * 100
)

taholah_educación["licenciatura_pct_total"] = (
    taholah_educación["licenciatura_total"] / total * 100
)

taholah_educación["posgrado_pct_total"] = (
    taholah_educación["posgrado_total"] / total * 100
)

In [17]:
taholah_educación.to_csv("taholah_taholah_educación.csv", index=False)