In [24]:
import pandas as pd

In [50]:
df = pd.read_csv("/Users/juanasipriano/Downloads/etnia_tahola.csv")

taholah = df[df["name"] == "Taholah, WA"].copy()

# Verificar

In [52]:
taholah["Blanco"] = taholah["B03002003"]

# Negro (Black alone, Non-Hispanic)
taholah["Negro"] = taholah["B03002004"]

# Nativo (AIAN + Native Hawaiian/Pacific Islander non-hispanic)
taholah["Nativo"] = taholah["B03002005"] 

# Hispano total
taholah["Hispano"] = taholah["B03002012"]

# Otro (Asian + Other race + Two or more races)
taholah["Otro"] = (
    taholah["B03002006"] +
    taholah["B03002008"] +
    taholah["B03002009"] +
    taholah["B03002007"]

)

In [54]:
taholah["Total_Poblacion"] = taholah["B03002001"]

In [56]:
taholah["%Blanco"] = taholah["Blanco"] / taholah["Total_Poblacion"] * 100
taholah["%Negro"]  = taholah["Negro"]  / taholah["Total_Poblacion"] * 100
taholah["%Nativo"] = taholah["Nativo"] / taholah["Total_Poblacion"] * 100
taholah["%Hispano"] = taholah["Hispano"] / taholah["Total_Poblacion"] * 100
taholah["%Otro"]    = taholah["Otro"]    / taholah["Total_Poblacion"] * 100

taholah

,geoid,name,B03002001,"B03002001, Error",B03002002,"B03002002, Error",B03002003,"B03002003, Error",B03002004,"B03002004, Error",...,Negro,Nativo,Hispano,Otro,Total_Poblacion,%Blanco,%Negro,%Nativo,%Hispano,%Otro
3,16000US5370175,"Taholah, WA",778,200.0,720,183.0,30,17,1,55,...,1,657,58,32,778,3.856041,0.128535,84.447301,7.455013,4.113111

In [59]:
taholah_final = taholah[[
    "geoid", "name", "Total_Poblacion",
    "Blanco", "Negro", "Nativo", "Hispano", "Otro",
    "%Blanco", "%Negro", "%Nativo", "%Hispano", "%Otro"
]]

taholah_final

,geoid,name,Total_Poblacion,Blanco,Negro,Nativo,Hispano,Otro,%Blanco,%Negro,%Nativo,%Hispano,%Otro
3,16000US5370175,"Taholah, WA",778,30,1,657,58,32,3.856041,0.128535,84.447301,7.455013,4.113111

In [63]:
taholah_final.to_csv("taholah_race_groups_clean.csv", index=False)