In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/juanasipriano/Downloads/taholah_familia.csv")

taholah_familias = df[df["name"] == "Taholah, WA"].copy()

taholah_familias

,geoid,name,B11002001,"B11002001, Error",B11002002,"B11002002, Error",B11002003,"B11002003, Error",B11002004,"B11002004, Error",...,B11002008,"B11002008, Error",B11002009,"B11002009, Error",B11002010,"B11002010, Error",B11002011,"B11002011, Error",B11002012,"B11002012, Error"
3,16000US5370175,"Taholah, WA",773,179.0,728,173,340,137,340,137,...,7,7,349,116,331,109,18,17,45,27

In [11]:
taholah_familias["parejas_casadas"] = taholah_familias["B11002003"]


taholah_familias["hombre_cabeza_familia"] = taholah_familias["B11002006"]


taholah_familias["mujer_cabeza_familia"] = taholah_familias["B11002009"]

taholah_familias["no_familiar"] = taholah_familias["B11002012"]

taholah_familias["total"] = taholah_familias["B11002001"]

In [13]:
taholah_familias["%parejas_casadas"] = taholah_familias["parejas_casadas"] / taholah_familias["total"] * 100
taholah_familias["%hombre_cabeza_familia"] = taholah_familias["hombre_cabeza_familia"] / taholah_familias["total"] * 100
taholah_familias["%mujer_cabeza_familia"] = taholah_familias["mujer_cabeza_familia"] / taholah_familias["total"] * 100
taholah_familias["%no_familiar"] = taholah_familias["no_familiar"] / taholah_familias["total"] * 100

In [15]:
taholah_familias

,geoid,name,B11002001,"B11002001, Error",B11002002,"B11002002, Error",B11002003,"B11002003, Error",B11002004,"B11002004, Error",...,"B11002012, Error",parejas_casadas,hombre_cabeza_familia,mujer_cabeza_familia,no_familiar,total,%parejas_casadas,%hombre_cabeza_familia,%mujer_cabeza_familia,%no_familiar
3,16000US5370175,"Taholah, WA",773,179.0,728,173,340,137,340,137,...,27,340,39,349,45,773,43.984476,5.045278,45.148771,5.821475

In [17]:
taholah_familias.to_csv("taholah_familias.csv", index=False)