In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/juanasipriano/Downloads/taholah_movilidad_geográfica.csv")

taholah_movilidad = df[df["name"] == "Taholah, WA"].copy()

taholah_movilidad

,geoid,name,B07003001,"B07003001, Error",B07003002,"B07003002, Error",B07003003,"B07003003, Error",B07003004,"B07003004, Error",...,B07003014,"B07003014, Error",B07003015,"B07003015, Error",B07003016,"B07003016, Error",B07003017,"B07003017, Error",B07003018,"B07003018, Error"
3,16000US5370175,"Taholah, WA",777,199,361,131,416,98,678,187,...,0,13,0,13,0,13,0,13,0,13

In [7]:
taholah_movilidad["total_movilidad"] = taholah_movilidad["B07003001"]

# 1. Misma casa hace un año
taholah_movilidad["misma_casa_1_anio"] = taholah_movilidad["B07003004"]

# 2. Dentro del mismo condado
taholah_movilidad["dentro_mismo_condado"] = taholah_movilidad["B07003007"]

# 3. De un condado diferente dentro del mismo estado
taholah_movilidad["condado_diferente_mismo_estado"] = taholah_movilidad["B07003010"]

# 4. De un estado diferente
taholah_movilidad["estado_diferente"] = taholah_movilidad["B07003013"]

# 5. Del extranjero
taholah_movilidad["del_extranjero"] = taholah_movilidad["B07003016"]

In [9]:
taholah_movilidad["%misma_casa_1_anio"] = (
    taholah_movilidad["misma_casa_1_anio"] / taholah_movilidad["total_movilidad"] * 100
)

taholah_movilidad["%dentro_mismo_condado"] = (
    taholah_movilidad["dentro_mismo_condado"] / taholah_movilidad["total_movilidad"] * 100
)

taholah_movilidad["%condado_diferente_mismo_estado"] = (
    taholah_movilidad["condado_diferente_mismo_estado"] / taholah_movilidad["total_movilidad"] * 100
)

taholah_movilidad["%estado_diferente"] = (
    taholah_movilidad["estado_diferente"] / taholah_movilidad["total_movilidad"] * 100
)

taholah_movilidad["%del_extranjero"] = (
    taholah_movilidad["del_extranjero"] / taholah_movilidad["total_movilidad"] * 100
)

In [11]:
taholah_movilidad

,geoid,name,B07003001,"B07003001, Error",B07003002,"B07003002, Error",B07003003,"B07003003, Error",B07003004,"B07003004, Error",...,misma_casa_1_anio,dentro_mismo_condado,condado_diferente_mismo_estado,estado_diferente,del_extranjero,%misma_casa_1_anio,%dentro_mismo_condado,%condado_diferente_mismo_estado,%estado_diferente,%del_extranjero
3,16000US5370175,"Taholah, WA",777,199,361,131,416,98,678,187,...,678,82,17,0,0,87.258687,10.553411,2.187902,0.0,0.0

In [13]:
# Total población 1 año y más
taholah_movilidad["total_movilidad"] = taholah_movilidad["B07003001"]

# 1. Misma casa hace un año
taholah_movilidad["misma_casa_total"] = taholah_movilidad["B07003004"]
taholah_movilidad["misma_casa_male"] = taholah_movilidad["B07003005"]
taholah_movilidad["misma_casa_female"] = taholah_movilidad["B07003006"]

# 2. Dentro del mismo condado
taholah_movilidad["mismo_condado_total"] = taholah_movilidad["B07003007"]
taholah_movilidad["mismo_condado_male"] = taholah_movilidad["B07003008"]
taholah_movilidad["mismo_condado_female"] = taholah_movilidad["B07003009"]

# 3. De un condado diferente dentro del mismo estado
taholah_movilidad["condado_dif_total"] = taholah_movilidad["B07003010"]
taholah_movilidad["condado_dif_male"] = taholah_movilidad["B07003011"]
taholah_movilidad["condado_dif_female"] = taholah_movilidad["B07003012"]

# 4. De un estado diferente
taholah_movilidad["estado_dif_total"] = taholah_movilidad["B07003013"]
taholah_movilidad["estado_dif_male"] = taholah_movilidad["B07003014"]
taholah_movilidad["estado_dif_female"] = taholah_movilidad["B07003015"]

# 5. Del extranjero
taholah_movilidad["extranjero_total"] = taholah_movilidad["B07003016"]
taholah_movilidad["extranjero_male"] = taholah_movilidad["B07003017"]
taholah_movilidad["extranjero_female"] = taholah_movilidad["B07003018"]

In [19]:
taholah_movilidad["%misma_casa_male"] = (
    taholah_movilidad["misma_casa_male"] / taholah_movilidad["misma_casa_total"] * 100
)

taholah_movilidad["%misma_casa_female"] = (
    taholah_movilidad["misma_casa_female"] / taholah_movilidad["misma_casa_total"] * 100
)

# Mismo condado
taholah_movilidad["%mismo_condado_male"] = (
    taholah_movilidad["mismo_condado_male"] / taholah_movilidad["mismo_condado_total"] * 100
)

taholah_movilidad["%mismo_condado_female"] = (
    taholah_movilidad["mismo_condado_female"] / taholah_movilidad["mismo_condado_total"] * 100
)

# Condado diferente
taholah_movilidad["%condado_dif_male"] = (
    taholah_movilidad["condado_dif_male"] / taholah_movilidad["condado_dif_total"] * 100
)

taholah_movilidad["%condado_dif_female"] = (
    taholah_movilidad["condado_dif_female"] / taholah_movilidad["condado_dif_total"] * 100
)

# Estado diferente
taholah_movilidad["%estado_dif_male"] = (
    taholah_movilidad["estado_dif_male"] / taholah_movilidad["estado_dif_total"] * 100
)

taholah_movilidad["%estado_dif_female"] = (
    taholah_movilidad["estado_dif_female"] / taholah_movilidad["estado_dif_total"] * 100
)

# Extranjero
taholah_movilidad["%extranjero_male"] = (
    taholah_movilidad["extranjero_male"] / taholah_movilidad["extranjero_total"] * 100
)

taholah_movilidad["%extranjero_female"] = (
    taholah_movilidad["extranjero_female"] / taholah_movilidad["extranjero_total"] * 100
)

In [21]:
taholah_movilidad_genero = taholah_movilidad[[

    "geoid", "name", "total_movilidad",

    "misma_casa_total", "misma_casa_male", "misma_casa_female",
    "%misma_casa_male", "%misma_casa_female",

    "mismo_condado_total", "mismo_condado_male", "mismo_condado_female",
    "%mismo_condado_male", "%mismo_condado_female",

    "condado_dif_total", "condado_dif_male", "condado_dif_female",
    "%condado_dif_male", "%condado_dif_female",

    "estado_dif_total", "estado_dif_male", "estado_dif_female",
    "%estado_dif_male", "%estado_dif_female",

    "extranjero_total", "extranjero_male", "extranjero_female",
    "%extranjero_male", "%extranjero_female"
]]

taholah_movilidad_genero

,geoid,name,total_movilidad,misma_casa_total,misma_casa_male,misma_casa_female,%misma_casa_male,%misma_casa_female,mismo_condado_total,mismo_condado_male,...,estado_dif_total,estado_dif_male,estado_dif_female,%estado_dif_male,%estado_dif_female,extranjero_total,extranjero_male,extranjero_female,%extranjero_male,%extranjero_female
3,16000US5370175,"Taholah, WA",777,678,320,358,47.19764,52.80236,82,37,...,0,0,0,NaN,NaN,0,0,0,NaN,NaN

In [23]:
taholah_movilidad_final = taholah_movilidad[[

    "geoid", "name", "total_movilidad",

    # Totales generales por categoría
    "misma_casa_total",
    "mismo_condado_total",
    "condado_dif_total",
    "estado_dif_total",
    "extranjero_total",

    # Porcentajes generales
    "%misma_casa_1_anio",
    "%dentro_mismo_condado",
    "%condado_diferente_mismo_estado",
    "%estado_diferente",
    "%del_extranjero",

    # Totales por género
    "misma_casa_male", "misma_casa_female",
    "mismo_condado_male", "mismo_condado_female",
    "condado_dif_male", "condado_dif_female",
    "estado_dif_male", "estado_dif_female",
    "extranjero_male", "extranjero_female",

    # Porcentajes por género
    "%misma_casa_male", "%misma_casa_female",
    "%mismo_condado_male", "%mismo_condado_female",
    "%condado_dif_male", "%condado_dif_female",
    "%estado_dif_male", "%estado_dif_female",
    "%extranjero_male", "%extranjero_female"
]]

taholah_movilidad_final

,geoid,name,total_movilidad,misma_casa_total,mismo_condado_total,condado_dif_total,estado_dif_total,extranjero_total,%misma_casa_1_anio,%dentro_mismo_condado,...,%misma_casa_male,%misma_casa_female,%mismo_condado_male,%mismo_condado_female,%condado_dif_male,%condado_dif_female,%estado_dif_male,%estado_dif_female,%extranjero_male,%extranjero_female
3,16000US5370175,"Taholah, WA",777,678,82,17,0,0,87.258687,10.553411,...,47.19764,52.80236,45.121951,54.878049,23.529412,76.470588,NaN,NaN,NaN,NaN

In [27]:
taholah_movilidad_final.to_csv("taholah_movilidad_completa.csv", index=False)